#boton{
    margin-left: 55px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: rgb(31, 41, 155);
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
#contenido{
    border: solid 5px black;
    text-align: center;
    margin: 20px;
    max-width: 270px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: azure;
    border-radius: 5px;
}
